*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */

nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(140deg , rgb(241, 62, 3) 12% , rgb(255, 98, 0) 50% , rgb(233, 60, 2) 80% );
    padding: 0 30px;
    position: fixed;
    top: 0; left: 0; right:0;
    z-index: 9999;
}

nav>div{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navbar_links{
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin-right: 40px;
}

.navbar_links a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    text-shadow: 1px 1px 2px rgb(247, 244, 242);
}
.navbar_links a:hover{
    color: yellow;
    text-shadow:0px 0px 30px #eaff02;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav>ul>li{
    list-style-type: none;
    padding: 0 25px;
    padding-top: 8px;
}

#logo{
    width: 50px;
    height: 47px;
    padding: 4px;
}

#navbar_join_us {
    background-color: black;
    border-radius: 60px;
}
#navbar_join_us a{
    color: rgb(255, 255, 255);
    padding: 4px 2px;
}

/* MAIN SECTION */

main{
    display: flex;
    background: linear-gradient(140deg , rgba(96, 4, 224, 0.629) 8% , rgba(255, 20, 145, 0.612) 50% , rgba(108, 10, 228, 0.596) 80% );
}

main>.content{
    padding: 20px;
    margin-top: 9.4rem;
    margin-bottom: 10rem;
}

main>.content>p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-size: bold;
    text-shadow: 1px 1px 15px rgba(185, 179, 179, 0.859);
    margin: 20px 0px;
}

main>div>h3{
    color: rgb(161, 6, 6);
    text-shadow: 2px 2px 4px rgb(245, 76, 76);
    text-align: center;
    margin-top: 1rem;
}

main>div>h1{
    color: rgb(70, 3, 133);
    text-shadow: 2px 2px 10px rgb(186, 127, 242);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 25px 0px;
}

.button_type{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.button_type>p{
    padding: 8px 20px;
    color: black;
    width: fit-content;
}

.try
{
    background-color: rgb(98, 92, 213);
}
.try:hover
{
    color: rgb(251, 251, 251);
    text-shadow:0px 0px 30px #b3ff02;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.get
{
    background-color: rgb(255, 98, 0);
    padding: 0px 9px;
}
.get:hover
{
    color: rgb(255, 255, 255);
    text-shadow:0px 0px 30px #fecc60;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.seoimg{
    width:46%;
    object-fit: contain;
    margin-top: 3.4rem;
    padding: 10px;
}

/* SECTION 3 COLS */

.threecols{
    display: flex;
    text-align: center;
    padding: 55px 0px;
    justify-content: center;
    background: linear-gradient(140deg , rgb(65, 3, 151) 12% , rgb(241, 5, 131) 50% , rgb(91, 2, 199) 80% );
    color: white;
}

.firstcol>img , .secondcol>img , .thirdcol>img{
    width: 38%;
    filter: drop-shadow(0 0 0.75rem rgba(52, 5, 102, 0.705));
}

/* LAST SECTION CSS THING */

.lastsection{
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(140deg , rgba(219, 13, 255, 0.796) 20% , rgba(67, 130, 155, 0.358) 48% , rgba(207, 4, 243, 0.76) 80% );
}

.rightimg{
    width:40%;
    object-fit: contain;
    padding: 10px 35px;
}

.ourfeatures{
    background: linear-gradient(140deg , rgb(46, 164, 249) 12% , rgb(134, 47, 247) 50% , rgb(64, 150, 243) 80% );
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow(0 0 0.75rem rgb(104, 9, 187));
    width: 30%;
}
.ourfeatures:hover{
    filter: drop-shadow(0 0 0.5rem rgb(162, 65, 246));
}
.ourfeatures>h1{
    font-size: 35px;
    padding: 5px 10px;
}

.whatweoffer{
    padding: 10px 10px;
}
.whatweoffer>li{
    list-style-type: none;
    font-size: 18px;
}

/* FOOTER OF PROJ. */

.foot{
    display: block;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(140deg , rgb(255, 45, 139) 12% , rgb(255, 98, 0) 50% , rgb(255, 5, 218) 80% );
}

.iconfoot{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
}
.iconfoot>li{
    padding: 0px 20px;
}

.iconfoot>li:hover{
    color:cyan;
    text-shadow:0px 0px 30px #58f3fe;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.foot>h4>span:hover{
    color: yellow;
    text-shadow:0px 0px 30px #b3ff02;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}






/* media queries with their description */

/* mq extras */

@media only screen and (max-width:400px){
    .foot>h4{
        font-size: 10px;
    }
    .foot>ul{
        font-size: 10px;
    }
    .iconfoot>li{
        padding: 0px 5px;
    }
}

/* MQ FOR FOOTER */

@media only screen and (max-width:1000px){
    .foot{
        font-size: 18px;
    }
    .iconfoot{
        font-size: 18px;
    }
}

/* MQ FOR LASTSECTION >> */

@media only screen and (max-width:950px){
    .ourfeatures>h1{
        font-size: 20px;
        padding: 5px 10px;
    }
    .whatweoffer>li{
        list-style-type: none;
        font-size: 15px;
    }
    .rightimg{
        padding: 10px 10px;
    }
}

@media only screen and (max-width:620px){
    .lastsection{
        display: block;
        text-align: center;
        justify-content: center;
        padding: 10px 0px;
        padding-top: 20px;
    }
    .ourfeatures{
        margin: auto;
        padding: 0px 0px;
        width: 50%;
    }
    .ourfeatures>h1{
        font-size: 15px;
        padding: 0px 5px;
    }
    .whatweoffer>li{
        list-style-type: none;
        font-size: 5px;
    }
    .whatweoffer{
        padding: 2px 5px;
    }
    .rightimg{
        padding-bottom: 0;
    }
}

@media only screen and (max-width:290px){
    .ourfeatures{
        width: 70%;
    }
}

/* MQ for threecols section */

@media only screen and (max-width:800px){
    .threecols{
        font-size: 10px;
    }
}
@media only screen and (max-width:480px){
    .threecols{
        padding: 10px 0px;
    }
}

/* MQ for main section */

@media only screen and (max-width:1000px){
    main{
        display: block;
        text-align: center;
    }
    main>.seoimg{
        margin-top: 4.5rem;
        width: 70%;
    }
    main>.content{
        padding: 0 45px;
        padding-bottom: 17px;
        margin: 0;
    }
    main>div>h1{
        font-size: 32px;
        margin: 8px 0px;
    }
    main>div>h3{
        margin-top: 1.5rem;
        font-size: 18px;
    }
}

@media only screen and (max-width:590px){
   
    main>.seoimg{
        margin-top: 3.5rem;
    }
    main>div>h1{
        font-size: 20px;
    }
    main>.content>p{
        margin: 10px 0px;
        font-size: 12px;
    }
    main>div>h3{
        font-size: 12px;
    }
    .try{
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 50px;
        font-size: 14px;
    }
    .get{
        margin-right: 45px;
        border-radius: 50px;
        font-size: 14px;
    }
}

@media only screen and (max-width:425px){
    main>div>h3{
        font-size: 9px;
        margin-top: 0.5rem;
    }
    main>div>h1{
        font-size: 14px;
    }
    main>.content>p{
        margin: 5px 0px;
        font-size: 9px;
        padding: 0px 20px;
    }
    div.content{
        padding: 0px;
        padding-bottom: 10px;
    }
    .try{
        margin-left: 50px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 2px;
    }
    .get{
        margin-right: 45px;
        border-radius: 0px;
        font-size: 2px;
    }
    .button_type{
        padding: 0px;
    }
    .button_type>p{
        padding: 2px 15px;
        border-radius: 30px;
    }
}

/* MQ for Nav Bar */
@media only screen and (max-width:750px){
    nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 98, 0);
        padding: 0px 5px;
    }
    nav>div{
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    .navbar_links{
        text-decoration: none;
        display: flex;
        padding: 4px;
        margin-right: 20px;
    }
    .navbar_links a{
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
    nav>ul>li{
        list-style-type: none;
        padding: 0px 10px;
        padding-top: 5px;
    }
    #logo{
        width: 40px;
        height: 35px;
        padding: 3px;
    }
    #navbar_join_us{
        padding-top: 4.5px;
        border-radius: 60px;
    }
    main{
        flex-direction: column;
    }
}

@media only screen and (max-width:450px){
    nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 98, 0);
        padding: 0px 0px;
    }
    nav>div{
        display: flex;
        align-items: center;
        margin-left: 2px;
    }
    .navbar_links{
        text-decoration: none;
        display: flex;
        padding: 4px;
        margin-right: 3px;
    }
    .navbar_links a{
        text-decoration: none;
        font-size: 8px;
    }
    nav>ul>li{
        list-style-type: none;
        padding: 0px 4px;
        padding-bottom: 3px;
    }
    #logo{
        width: 25px;
        height: 20px;
        padding: 0;
    }
    #navbar_join_us{
        padding-top: 0px;
        padding-bottom: 1px;
        border-radius: 60px;
    }
    #navbar_join_us a{
        color: rgb(255, 255, 255);
        padding: 0px 0px;
    }
}